.DS_Store
*.3mf
*.bin
*.gcode
*.glb
*.obj
*.stl
*.sw[a-p]
*.tar.[gx]z
*.usdz
*.wtf*
*.zip
tmp/
wtf/
backups/
!Bestillinger/
!Bestillinger/Jonas/
!Bestillinger/Jonas/Varla stone/Monica/
!Bestillinger/Jonas/Varla stone/Monica/*.stl
